# Concerning API gateway folder
/api-gateway/dist
/api-gateway/node_modules
/api-gateway/build
/api-gateway/logs
/api-gateway/*.log
/api-gateway/npm-debug.log*
/api-gateway/pnpm-debug.log*
/api-gateway/yarn-debug.log*
/api-gateway/yarn-error.log*
lerna-debug.log*
/api-gateway/.DS_Store
/coverage
/.nyc_output
/api-gateway/.idea
/api-gateway/.project
/api-gateway/.classpath
/api-gateway/.c9/
/api-gateway/*.launch
/api-gateway/.settings/
/api-gateway/*.sublime-workspace
/api-gateway/.vscode/*
/api-gateway/!.vscode/settings.json
/api-gateway/!.vscode/tasks.json
/api-gateway/!.vscode/launch.json
/api-gateway/!.vscode/extensions.json
/api-gateway/.env
/api-gateway/.env.development.local
/api-gateway/.env.test.local
/api-gateway/.env.production.local
/api-gateway/.env.local
/api-gateway/.temp
/api-gateway/.tmp
/api-gateway/pids
/api-gateway/*.pid
/api-gateway/*.seed
/api-gateway/*.pid.lock
/api-gateway/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Concerning folder x